<div class="blocks">
    <div class="block block33 center darkAlpha blurry">
        <a class="nodecor" href="https://github.com/orgs/friction2d/discussions" target="_blank">
            <img class="img100" src="{{ site.url }}/assets/github-mark-white.svg" />
            <h2>GitHub Discussions</h2>
        </a>
    </div>
    <div class="block block33 center darkAlpha blurry">
        <a class="nodecor" href="https://github.com/friction2d/friction/issues" target="_blank">
            <img class="img100" src="{{ site.url }}/assets/github-mark-white.svg" />
            <h2>GitHub Issues</h2>
        </a>
    </div>
    <div class="block block33 center darkAlpha blurry">
        <a class="nodecor" href="https://floss.social/@friction" target="_blank">
            <img class="img100" src="{{ site.url }}/assets/mastodon-white.svg" />
            <h2>Mastodon</h2>
        </a>
    </div>
    <div class="block block33 center darkAlpha blurry">
        <a class="nodecor" href="https://bsky.app/profile/friction.graphics" target="_blank">
            <img class="img100" src="{{ site.url }}/assets/bsky.svg" />
            <h2>Bluesky</h2>
        </a>
    </div>
    <div class="block block33 center darkAlpha blurry">
        <a class="nodecor" href="https://codeberg.org/friction/friction/issues" target="_blank">
            <img class="img100" src="{{ site.url }}/assets/codeberg.svg" />
            <h2>Codeberg</h2>
        </a>
    </div>
    <div class="block block33 center darkAlpha blurry">
        <a class="nodecor" href="https://x.com/FrictionGFX" target="_blank">
            <img class="img100" src="{{ site.url }}/assets/xtwitter.svg" />
            <h2>X/Twitter</h2>
        </a>
    </div>
</div>
