<div class="blocks">
    <div class="block block25 center darkAlpha blurry">
        <img height="100px" src="{{ site.url }}/assets/downloads/windows.svg" />
        <h2>Windows</h2>
        <p>
            <a href="https://windows.ci.friction.graphics" class="btn-download">
                <img src="{{ site.url }}/assets/downloads/download.svg" alt="Download">
                <span>Download</span>
            </a>
        </p>
    </div>
    <div class="block block25 center darkAlpha blurry">
        <img height="100px" src="{{ site.url }}/assets/downloads/linux.svg" />
        <h2>Linux</h2>
        <p>
            <a href="https://linux.ci.friction.graphics" class="btn-download">
                <img src="{{ site.url }}/assets/downloads/download.svg" alt="Download">
                <span>Download</span>
            </a>
            <a href="https://nightly.link/friction2d/friction/workflows/linux/main/friction-ci-linux-x86_64-GLX.zip" class="btn-download-small">
                <img src="{{ site.url }}/assets/downloads/download.svg" alt="Download">
                <span>Download (GLX)</span>
            </a>
        </p>
    </div>
    <div class="block block25 center darkAlpha blurry">
        <img height="100px" src="{{ site.url }}/assets/downloads/apple.svg" />
        <h2>macOS</h2>
        <p>
            <a href="https://macos.ci.friction.graphics" class="btn-download">
                <img src="{{ site.url }}/assets/downloads/download.svg" alt="Download">
                <span>Download</span>
            </a>
        </p>
    </div>
</div>
