<div id="footerInner">
    <p>Copyright &copy; Friction contributors.<br><a href="{{ site.url }}/privacy.html">Privacy Statement</a> &bull; <a href="{{ site.url}}/public.key">PGP Public Key</a></p>
    <p>
        <a target="_blank" href="https://github.com/friction2d/friction" title="Join us on GitHub"><img src="{{ site.url }}/assets/github-mark-white.svg" height="24" /></a>
        <!-- <a target="_blank" href="https://gitlab.com/friction-graphics/friction" title="Join us on GitLab"><img src="{{ site.url }}/assets/gitlab.svg" height="24" /></a> -->
        <!-- <a target="_blank" href="https://codeberg.org/friction/friction" title="Join us on Codeberg"><img src="{{ site.url }}/assets/codeberg.svg" height="24" /></a> -->
        <a target="_blank" rel="me" href="https://floss.social/@friction" title="Join us on Mastodon"><img src="{{ site.url }}/assets/mastodon-white.svg" height="24" /></a>
        <a target="_blank" rel="me" href="https://bsky.app/profile/friction.graphics" title="Join us on Bluesky"><img src="{{ site.url }}/assets/bsky.svg" height="24" /></a>
        <a target="_blank" rel="me" href="https://x.com/FrictionGFX" title="Join us on X/Twitter"><img src="{{ site.url }}/assets/xtwitter.svg" height="24" /></a>
        <a target="_blank" rel="me" href="https://www.youtube.com/@friction-graphics" title="Join us on YouTube"><img src="{{ site.url }}/assets/youtube.svg" height="24" /></a>
        <a href="{{ site.url }}/feed.xml" title="News Feed"><img src="{{ site.url }}/assets/rss.svg" height="24" /></a>
    </p>
</div>
