:root {
  color-scheme: light dark;
}

body { background-color: light-dark(white, rgb(15, 15, 15)); }
div#content img { background-color: light-dark(rgb(35, 35, 35), none); }
pre { background-color: light-dark(black, rgb(35, 35, 35)); }
code.highlighter-rouge { background-color: light-dark(lightgray, rgb(35, 35, 35)); }
blockquote { background-color: darkgray; }
a,a:visited,a:hover { color: light-dark(black, white); }
#markdown-toc { border: 1px solid gray; }
th { background-color: light-dark(black, white);color: light-dark(white, black); }
td { border: 1px solid light-dark(black, gray); }
hr { border-color: light-dark(black, white); }
.nextPrevButton { border-color: light-dark(black, white);color: light-dark(black, white); }
.nextPrevButton:hover { background-color: darkgray;color: black; }

* { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
div#footer { height: 50px; }
div#content img { max-width: 90%;border-radius: .25em;/*padding: .5em;*/ }
pre { border-radius: .25em;margin: 1em;padding: 1em;font-family: monospace;white-space: pre-wrap; }
code.highlighter-rouge { font-weight: bold; }
blockquote { padding: .3em;font-family: monospace; }
a,a:visited { text-decoration: underline; }
a:hover { text-decoration: none; }
.center { text-align: center;}
#markdown-toc::before { content: "Contents";font-weight: bold; }
#markdown-toc ul { list-style: decimal; }
#markdown-toc { border-radius: .25em;display: inline-block;padding: 1em;padding-left: 2em;list-style: decimal;margin: 1em; }
#markdown-toc a,#markdown-toc a:visited { text-decoration: none; }
#markdown-toc a:hover { text-decoration: underline; }
table { width: 100%; }
th { padding: .5em; }
td { width: 50%;padding: .5em; }
.td { width: unset; }
hr { margin-top: 2em;margin-bottom: 2em; }
.lead { font-size: 1.3rem; }
.round { border-radius: .25em; }
span.category { text-transform: capitalize; }
.nextPrevButton { border: 1px solid;padding: 0.5em;border-radius: .25em;margin: 0.2em; }
.nextPrevContainer { padding-top: 2em;display: flex;justify-content: center;align-items: center;flex-wrap: wrap;gap: 2em; }
.nextPrevContainer a, .nextPrevContainer a:visited, .nextPrevContainer a:hover { text-decoration: none; }

/* highlight */
.highlight .hll{background-color:#efefef}
.highlight .c{color:#929292}
.highlight .err{background:#c82829;color:#fff}
.highlight .k{color:#8959a8}
.highlight .l{color:#f5871f}
.highlight .n{color:#929292}
.highlight .o{color:#545454}
.highlight .p{color:#929292}
.highlight .cm{color:#929292}
.highlight .cp{color:#929292}
.highlight .c1{color:#929292}
.highlight .cs{color:#929292}
.highlight .cd{color:#929292}
.highlight .gd{color:#c82829}
.highlight .ge{font-style:italic}
.highlight .gh{color:#545454;font-weight:bold}
.highlight .gi{color:#718c00}
.highlight .gp{color:#718c00;font-weight:bold}
.highlight .gs{font-weight:bold}
.highlight .gu{color:#3e999f;font-weight:bold}
.highlight .kc{color:#8959a8}
.highlight .kd{color:#8959a8}
.highlight .kn{color:#3e999f}
.highlight .kp{color:#4271ae}
.highlight .kr{color:#8959a8}
.highlight .kt{color:#eab700}
.highlight .ld{color:#718c00}
.highlight .m{color:#f5871f}
.highlight .s{color:#718c00}
.highlight .na{color:#4271ae}
.highlight .nb{color:#4271ae}
.highlight .nc{color:#eab700}
.highlight .no{color:#eab700}
.highlight .nd{color:#3e999f}
.highlight .ni{color:#545454}
.highlight .ne{color:#c82829}
.highlight .nf{color:#4271ae}
.highlight .nl{color:#545454}
.highlight .nn{color:#eab700}
.highlight .nx{color:#4271ae}
.highlight .py{color:#545454}
.highlight .nt{color:#3e999f}
.highlight .nv{color:#c82829}
.highlight .ow{color:#3e999f}
.highlight .w{color:#545454}
.highlight .mf{color:#f5871f}
.highlight .mh{color:#f5871f}
.highlight .mi{color:#f5871f}
.highlight .mo{color:#f5871f}
.highlight .sb{color:#718c00}
.highlight .sc{color:#545454}
.highlight .sd{color:#929292}
.highlight .s2{color:#718c00}
.highlight .se{color:#f5871f}
.highlight .sh{color:#718c00}
.highlight .si{color:#f5871f}
.highlight .sx{color:#718c00}
.highlight .sr{color:#718c00}
.highlight .s1{color:#718c00}
.highlight .ss{color:#718c00}
.highlight .bp{color:#545454}
.highlight .vc{color:#c82829}
.highlight .vg{color:#c82829}
.highlight .vi{color:#c82829}
.highlight .il{color:#f5871f}*,*::after,*::before{box-sizing:inherit}html{box-sizing:border-box;min-height:100%}

pre,
code {
  font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
  font-size: 0.9375em;
}
