* { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

body {
    margin: 0;
    padding: 0;
    background-color: rgb(40, 40, 47);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div#header {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: .2em;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;
}

div#headerDefault {
    height: 80px;
    padding: .2em;
    background-color: rgba(0, 0, 0, 0.9);
}

div#headerInner {
    margin: auto;
    max-width: 1200px;
    display: flex;
    height: 80px;
    justify-content: space-between;
}

div#hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

#heroVideo {
    position: fixed;
    right: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    z-index: -99;
}

div#hero div {
    text-align: center;
    color: white;
    padding: 2em;
    margin: auto;
    width: 70%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .5em;
    text-shadow: #000 1px 0 10px;
}

div#footer {
    background-color: rgb(33, 33, 38);
    color: darkgray;
    flex-grow: 1;
}

div#footerInner {
    max-width: 1200px;
    margin: auto;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

div#footerInner a { color: darkgray; }

div#content,
div.blocks,
div.bigTitle {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    font-size: large;
    color: white;
}

div.bigTitle {
    margin-bottom: 1em;
    text-shadow: #000 1px 0 10px;
}

div#contentInner {
    padding: 1em;
}

div#content img {
    max-width: 100%;
    border-radius: .25em;
}

div.blocks {
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.blocks img {
    width: 100%;
}
.svg {
    width: 100%;
    height: 100px;
}

div.block {
    width: 100%;
    background-color: rgb(33, 33, 38);
    border-radius: .25em;
    margin: 1em;
    padding: 1em;
}

div.blocks h2,
div.bigTitle h1,
div.bigTitle h2,
div.bigTitle p {
    text-align: center;
}

pre {
    background-color: rgb(33, 33, 38);
    border-radius: .25em;
    margin: 1em;
    padding: 1em;
    font-family: monospace;
    white-space: pre-wrap;
}

code.highlighter-rouge {
    background-color: rgb(33, 33, 38);
    font-weight: bold;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

blockquote {
    background-color: rgb(33, 33, 38);
    padding: .3em;
    font-family: monospace;
}

a,
a:hover,
a:visited {
    color: white;
    text-decoration: underline;
}

a:hover {
    text-decoration:dashed;
    color: gray;
}

.btn {
    border-radius: .25em;
    background-color: rgb(177, 16, 20);
    border: 1px solid transparent;
    padding: .6em;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    white-space: nowrap;
    display: block;
}

.btn:hover {
    color: white;
    border: 1px solid white;
}

.btn img {
    width: 24px;
    height: 24px;
    margin-right: .5em;
    vertical-align: middle;
}

img.distro {
    display: none;
    height: 25px;
}

.center { text-align: center;}

.newsblock a { text-decoration: none; }

@media (min-width: 750px) {
    img.distro { display: inline-block; }
}

@media (min-width: 870px) {
    div.block {
        margin: 0;
        margin-bottom: 1em;
        flex-basis: 45%;
    }
}

#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}

#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    background-color: rgb(33, 33, 38);
    padding: 1em;
    padding-left: 2em;
    list-style: decimal;
}

#markdown-toc a,
#markdown-toc a:visited {
    text-decoration: none;
}

#download { scroll-margin-top: 100px; }

table { width: 100%; }

th {
    background-color: rgb(33, 33, 38);
    padding: .5em;
}

td {
    width: 50%;
    border: 1px solid rgb(33, 33, 38);
    background-color: rgb(46, 46, 53);
    padding: .5em;
}

.td { width: unset; }

hr {
    border-color: rgb(33, 33, 38);
    margin-top: 2em;
    margin-bottom: 2em;
}

#breadcrumbs {
    padding: .5em;
}

.publishedDate {
    margin-top: 5em;
    padding: 1em;
    background-color: rgb(46, 46, 53);
    border: 1px dashed rgb(33, 33, 38);
    border-radius: .25em;
    font-style: italic;
}

img.platform { max-width: fit-content; }
ul.platform { list-style-type: none; }

/* MENU */

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu a { text-decoration: none; }

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
    color: white;
    line-height: 80px;
    font-weight: bold;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    margin-right: 1em;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle { display: none; }

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 900px) {
    .menu-button-container { display: flex; }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 81px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        line-height: 2.5em;
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

.darkAlpha {
    background-color: rgba(33, 33, 38, 0.8) !important;
}

.blurry {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.noDeco,
.noDeco a { text-decoration: none; }
.noDeco a:hover {
    color: white;
    text-decoration: underline;
}

.downloads {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

.shadow {
    text-shadow: #000 1px 0 10px;
}

.platform {
    border-radius: .2em;
    box-shadow: #000 0 0 5px;
}

.comments img {
    width: 32px !important;
    height: 32px !important;
    border: unset !important;
    border-radius: unset !important;
    vertical-align: middle;
    margin-right: .2em;
}
.comments {
    font-weight: bold;;
}
.comments a {
    text-decoration: none;
}

.warning {
    padding: 1em;
    background-color: #151414;
    border: 2px dashed #fff;
    border-radius: .25em;
}

.mainImage {
    width: 100%;
    border-radius: .25em;
}

.downloadsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.lead {
    font-size: 1.3rem;
}

.round {
    border-radius: .25em;
}

div#content video {
    width: 100%;
    border-radius: .25em;
}
