{% assign www_title = "" %}
{% assign www_description = "" %}
{% assign header_image = "" %}
{% assign meta_image = "" %}
{% if page.title %}
{% assign www_title = page.title %}
{% else %}
{% assign www_title = site.title %}
{% endif %}
{% if page.description %}
{% assign www_description = page.description %}
{% else %}
{% assign www_description = site.description %}
{% endif %}
{% if site.meta %}
{% assign meta_image = site.meta %}
{% elsif page.meta %}
{% assign meta_image = page.meta %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <title>Friction</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content="{{ www_title }}">
        <meta name="twitter:title" content="{{ www_title }}">
        <meta name="description" content="{{ www_description }}">
        <meta property="og:description" content="{{ www_description }}">
        <meta name="twitter:description" content="{{ www_description }}">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
        <meta property="twitter:domain" content="{{ site.domain }}">
        <meta property="og:type" content="website">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:image" content="{{ site.url }}/{{ meta_image }}">
        <meta name="twitter:image" content="{{ site.url }}/{{ meta_image }}">
        <link href="{{ site.url }}/assets/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        <link href="{{ site.url }}/assets/style.css" rel="stylesheet" />
    </head>
    <body>
        <div id="header">
            <div id="headerInner">
                <a href="{{ site.url }}"><img src="{{ site.url }}/assets/logo.svg" width="267px" height="80px" /></a>
            </div>
        </div>
        {% if page.hero %}
        <div id="hero">
            <div>
                <h3>Fast and flexible cross-platform motion graphics software</h3>
                <a class="btn" target="_blank" href="https://github.com/friction2d/friction/releases/latest"><img src="{{ site.url }}/assets/download.svg" height="24" />Download now</a>
                <p>
                    <!-- <img class="distro" src="{{ site.url }}/assets/windows.svg" />
                    <img class="distro" src="{{ site.url }}/assets/ubuntu.svg" />
                    <img class="distro" src="{{ site.url }}/assets/redhat.svg" />
                    <img class="distro" src="{{ site.url }}/assets/fedora.svg" /> -->
                </p>
                </div>
        </div>
        {% endif %}
        <div id="content">
            {% if page.showTitle %}<h2>{{ page.title }}</h2>{% endif %}
            {{ content }}
        </div>
        <div id="footer">
            <div id="footerInner">
                <p>Copyright &copy; Friction contributors.</p>
                <p>
                    <a target="_blank" href="https://github.com/friction2d/friction" title="Join us on GitHub"><img src="{{ site.url }}/assets/github-mark-white.svg" height="24" /></a>
                </p>
            </div>
        </div>
    </body>
</html>
