{% include assign.html %}
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    <body>
        <div id="headerDefault">
            {% include header.html %}
        </div>
        <div id="content">
            <div id="contentInner">
                {% if page.title != nil %}
                <h1>{{ page.title }}</h1>
                {% endif %}
                {% if page.lead != nil %}
                <p class="lead">{{ page.lead }}</p>
                {% endif %}
                <h2>Friction v{{ page.release }}</h2>
                <p>Please read the <a href="{{ site.url }}/releases/friction-{{ page.release | remove: '.' }}.html">release notes</a> before usage.</p>
                {% include downloads.html %}
                <style>.block { background-color: transparent !important; }</style>
                {{ content }}
        </div>
        <div id="footer">
            {% include footer.html %}
        </div>
    </body>
</html>
